.addon-tmd {
    background-image: url(../img/icon.png) !important;
}
.typerisque-to {
    background-color: #00FF00;
}
.typerisque-su {
    background-color: #00FFFF;
}
.typerisque-ch {
    background-color: #FF0000;
}
